.nav {
    display: inline;
    justify-content: center;
    background-image: url("assets/Shape.png");
    width: auto;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    padding: 30px;
    color: white;
    justify-content: center;
    font-size: x-large;
    font-family: Serif;
    font-style: normal;
}

#one {
    width: 50px;
    height: 50px;
    margin-top: 22px;
}

.group1 {
    position: relative;
    background-image: url("assets/coffe.png");
    height: 770px;
}

#h1 {
    text-align: center;
    font-family: serif;
    font-size: 550%;
    color: #feedda;
    font-weight: bolder;
}

#par1 {
    color: #fefefe;
    text-align: center;
    font-family: serif;
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
}

.btn-danger {
    margin-left: 47%;
    font-family: serif;
    font-weight: bolder;
    color: rgb(254, 237, 218);
}

.group2 {
    position: relative;
    background-image: url("assets/back2.png");
    height: 580px;
}

#two {
    display: block;
    float: left;
    position: absolute;
    top: 130px;
    left: 180px;
}

#par2 {
    display: inline-block;
    color: #feedda;
    font-family: serif;
    font-weight: bolder;
    font-size: 260%;
    margin-left: 45%;
}

#par3 {
    position: absolute;
    color:#feedda;
    font-family: serif;
    font-size: 300%;
    font-weight: bolder;
    left: 45%;
    top: 30%;
}

#par4 {
    position: absolute;
    color: #feedda;
    font-family: serif;
    font-size: 100%;
    left: 45%;
    right: 10%;
    top: 44%;
}

.btn1 {
    position: absolute;
    background-color: #feedda;
    color: #b13941;
    left: 45%;
    top: 64%;
    border-style: none;
    font-family: serif;
    font-weight: bold;
    padding: 8px;
}

.group3 {
    position: relative;
    background-image: url("assets/back3.png");
    height: 780px;
}

#three {
    display: block;
    float: left;
    position: absolute;
    top: 0%;
}

#par5 {
    display: inline-block;
    color: black;
    position: absolute;
    font-family: serif;
    font-weight: bolder;
    font-size: 300%;
    left: 55%;
    top: 15%;
}

#par6 {
    display: inline-block;
    color: #575757;
    position: absolute;
    font-family: serif;
    font-size: 100%;
    top: 40%;
    left: 55%;
    right: 10%;
}

a {
    display: inline-block;
    position: absolute;
    font-family: serif;
    font-size: 100%;
    top: 55%;
    left: 55%;
    right: 10%;
}

.group4 {
    position: relative;
    background-image: url("assets/back2.png");
    height: 700px;
}

#par7 {
    font-family: serif;
    font-size: 300%;
    position: absolute;
    top: 10%;
    left: 47%;
    color: #f8eed3;
    font-weight: bolder;
}

#par8 {
    text-align: center;
    font-family: serif;
    font-size: 150%;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    color:  #f8eed3;
}

.card1 {
    top: 45%;
    left: 2%;
    width: 30%;
    height: 35%;
}

#four {
    height: 118.5%;
}

.btn2,
.btn3,
.btn4 {
    position: absolute;
    left: 2%;
}

.title1 {
    font-family: serif;
    font-weight: bolder;
    font-size: 280%;
}

.text1 {
    font-family: serif;
}

.card2 {
    top: 7.5%;
    left: 35%;
    width: 30%;
    height: 35%;
}

#five {
    height: 118.5%;
}

.title2 {
    font-family: serif;
    font-weight: bolder;
    font-size: 280%;
}

.text2 {
    font-family: serif;
}

.card3 {
    top: -30%;
    left: 68%;
    width: 30%;
    height: 35%;
}

#six {
    height: 118.5%;
}

.title3 {
    font-family: serif;
    font-weight: bolder;
    font-size: 280%;
}

.text3 {
    font-family: serif;
}

.group5 {
    position: relative;
    background-image: url("assets/back3.png");
    height: 760px;
}

#par9 {
    font-family: serif;
    font-size: 300%;
    position: absolute;
    top: 10%;
    left: 47%;
    color:  #b13941;
    font-weight: bolder;
}

#par10 {
    text-align: center;
    font-family: serif;
    font-size: 150%;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    color:  #b13941;
}

.card4 {
    top: 45%;
    left: 10%;
    width: 20%;
    height: 50%;
}

.btnA {
    background-color:#f8eed3;
    color: #b13941;
    font-family: serif;
    font-weight: bolder;
    border: none;
    position: absolute;
    width: 100px;
    height: 35px;
    top: 40%;
    left: 32%;
}

.btnA span {
    border-style: solid;
    border-color: #b13941;
    padding: 2px;
}

.text4 {
    margin-top: 9%;
    font-family: serif;
    text-align: center;
}

#seven {
    position: relative;
    width: 100%;
    height: 45%;
}

.btn5 {
    margin-left: 30%;
}

.card5 {
    top: -5%;
    left: 40%;
    width: 20%;
    height: 50%;
}

.btnB {
    background-color:#f8eed3;
    color:  #b13941;
    font-family: serif;
    font-weight: bolder;
    border: none;
    position: absolute;
    width: 100px;
    height: 35px;
    top: 40%;
    left: 32%;
}

.btnB span {
    border-style: solid;
    border-color:  #b13941;
    padding: 2px;
}

.text5 {
    margin-top: 9%;
    font-family: serif;
    text-align: center;
}

#eight {
    position: relative;
    width: 100%;
    height: 45%;
}

.btn6 {
    margin-left: 30%;
}

.card6 {
    top: -55%;
    left: 70%;
    width: 20%;
    height: 50%;
}

.btnC {
    background-color: #f8eed3;
    color:  #b13941;
    font-family: serif;
    font-weight: bolder;
    border: none;
    position: absolute;
    width: 90px;
    height: 35px;
    top: 40%;
    left: 32%;
}

.btnC span {
    border-style: solid;
    border-color:  #b13941;
    padding: 2px;
}

.text6 {
    margin-top: 9%;
    font-family: serif;
    text-align: center;
}

#nine {
    position: relative;
    width: 100%;
    height: 45%;
}

.btn7 {
    margin-left: 30%;
}

.group6 {
    background-image: url("assets/back2.png");
    position: relative;
    height: 500px;
}

#par11 {
    display: inline-block;
    color: #f8eed3;
    position: absolute;
    font-family: serif;
    font-weight: bolder;
    font-size: 300%;
    left: 55%;
    top: 15%;
}

#par12 {
    display: inline-block;
    color: #f8eed3;
    position: absolute;
    font-family: serif;
    font-size: 100%;
    top: 33%;
    left: 55%;
    right: 10%;
}

#ten {
    display: block;
    float: left;
    position: absolute;
    top: 15%;
    width: 45%;
    height: 70%;
    left: 5%;
    filter: brightness(50%);
}

#eleven {
    position: absolute;
    top: 45%;
    width: 4%;
    height: 13%;
    left: 25%;
}

#twelve {
    background-color: wheat;
    position: absolute;
    width: 2.5%;
    height: 5.5%;
    left: 55%;
    top: 58%;
    padding: 6px;
}

#thirteen {
    background-color: wheat;
    position: absolute;
    width: 2.5%;
    height: 5.5%;
    left: 60%;
    top: 58%;
    padding: 6px;
}

#fourteen {
    background-color: wheat;
    position: absolute;
    width: 2.5%;
    height: 5.5%;
    left: 65%;
    top: 58%;
    padding: 6px;
}

.group7 {
    position: relative;
    background-image: url("assets/back4.png");
    height: 580px;
}

#par13 {
    display: inline-block;
    color: #b13941;
    position: absolute;
    font-family: serif;
    font-weight: bolder;
    font-size: 300%;
    left: 50%;
    top: 2%;
}

#fifteen {
    position: absolute;
    top: 0px;
    width: 40%;
    height: 100%;
    left: 20px;
}

.input1 {
    font-family: serif;
    color: #b0b0b0;
    position: absolute;
    left: 50%;
    top: 20%;
    width: 45%;
    height: 7%;
    background-color: #efefef;
    border-style: solid;
    border-width: 1px;
    border-color: #b0b0b0;
}

.input2 {
    font-family: serif;
    color: #b0b0b0;
    position: absolute;
    left: 50%;
    top: 32%;
    width: 45%;
    height: 7%;
    background-color: #efefef;
    border-style: solid;
    border-width: 1px;
    border-color:  #b0b0b0;
}

.input3 {
    font-family: serif;
    color: #b0b0b0;
    position: absolute;
    left: 50%;
    top: 44%;
    background-color:#efefef;
    border-style: solid;
    border-width: 1px;
    border-color: #b0b0b0;
}

.btn8 {
    position: absolute;
    left: 3%;
    top: 82%;
}

.group8 {
    position: relative;
    background-image: url("assets/back2.png");
    height: 300px;
}

#sixteen {
    font-family: serif;
    position: absolute;
    top: 20%;
    left: 3%;
    width: 12%;
    height: 60%;
}

#par14 {
    font-family: serif;
    position: absolute;
    left: 19%;
    top: 15%;
    font-size: 150%;
    color:  #f8eed3;
    font-weight: bold;
}

#par15 {
    font-family: serif;
    position: absolute;
    left: 16%;
    top: 35%;
    font-size: 100%;
    color: white;
}

#par16 {
    font-family: serif;
    position: absolute;
    left: 19%;
    top: 67%;
    font-size: 100%;
    color: white;
}

#par17 {
    font-family: serif;
    position: absolute;
    left: 36%;
    top: 15%;
    font-size: 150%;
    color:  #f8eed3;
    font-weight: bold;
}

#par18 {
    font-family: serif;
    position: absolute;
    left: 32%;
    top: 28%;
    color: white;
    font-size: 100%;
}

#par19 {
    font-family: serif;
    position: absolute;
    left: 46%;
    top: 15%;
    font-size: 150%;
    color: #f8eed3;
    font-weight: bold;
}

#par20 {
    font-family: serif;
    position: absolute;
    left: 41%;
    top: 28%;
    color: white;
    font-size: 100%;
}

#par21 {
    font-family: serif;
    position: absolute;
    left: 61%;
    top: 15%;
    font-size: 150%;
    color:  #f8eed3;
    font-weight: bold;
}

#par22 {
    font-family: serif;
    position: absolute;
    left: 57%;
    top: 28%;
    color: white;
    font-size: 100%;
}

#seventeen {
    position: absolute;
    top: 15%;
    left: 76%;
}

#par23 {
    font-family: serif;
    position: absolute;
    top: 40%;
    left: 74%;
    font-size: 100%;
    color: white;
}

#eighteen {
    background-color: wheat;
    position: absolute;
    width: 10%;
    height: 18%;
    left: 12%;
    top: 55%;
    padding: 6px;
}

#nineteen {
    background-color: wheat;
    position: absolute;
    width: 10%;
    height: 18%;
    left: 34%;
    top: 55%;
    padding: 6px;
}

#twenty {
    background-color: wheat;
    position: absolute;
    width: 10%;
    height: 18%;
    left: 56%;
    top: 55%;
    padding: 6px;
}